{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <h1> HELLO!</h1>
                <h2>My name is Chivu.</h2>
                <h5> I really like sports and any kind of movement. I am attracted to colors and sounds, and my positive thinking has always been inserted in my mind and soul. Below are some moments from my everyday life</h5>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/git.png') }}" class="card-img-top" alt="git">
            <div class="card-body">
                <h5 class="card-title">I enjoy to learn end share new stuff</h5>
                <p class="card-text">
it's a very big field and that attracts me strongly. I realize that an important thing is consistency and as you increase the time investing, you learn new things that I assimilate with a smile on my face.</p>
                <a href="https://github.com/Chivu23" class="btn btn-primary">Go to my GitHub </a>
            </div>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/insta.jpeg') }}" class="card-img-top" alt="insta">
            <div class="card-body">
                <h5 class="card-title">Not very much posting. Less is More</h5>
                <p class="card-text">I really like online, but spending life is living life, not trying to post in the rush of views. So live the moment and post in the toilet or in the subway...</p>
                <a href="https://www.instagram.com/billy_locco_crocco/" class="btn btn-primary">Go to my Insta </a>
            </div>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/foto_video_sound.jpeg') }}" class="card-img-top" alt="facebook">
            <div class="card-body">
                <h5 class="card-title">and if u want fb...</h5>
                <p class="card-text">a nice platform, for its time, in which I don't know what else I'm looking for.</p>
                <a href="https://www.facebook.com/chivu.george.54" class="btn btn-primary">Go to my FaceBook </a>
            </div>
            </div>
{% endblock %}