{% extends "base.html" %}
{% block content %}
<div class="container-fluid spaced-top-5">
    <div class="row">
        <div class="col">
            <div class="row">
                <h1 class="heading-title"> IT'S NICE TO BE NICE!!!</h1>
                <h5 class="heading-title1"> My sweet little presentation site stars from here:</h5>
            </div>
            <a href="https://www.youtube.com/watch?v=TyA-oz7lSrc&list=PL-06oKZElUsHgp6aJ_7xgJV0NhsAwh_CW&index=1" target="_blank">
                <button class="btn-custom-joy"> LISTEN ! WITH JOY! (youtube playlist)</button>
            </a>
            <div class="col">
                {% include "carousel.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}