{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <h1> O SA FIE BINE!!!</h1>
            </div>
            <a href="https://www.youtube.com/watch?v=TyA-oz7lSrc&list=PL-06oKZElUsHgp6aJ_7xgJV0NhsAwh_CW&index=1" target="_blank">
                <button class="btn-custom space-top-2"> LISTEN !
                WITH JOY!
                </button>
            </a>
            <div class="col">
                {% include "carousel.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}