{% extends "base.html" %}
{% block content %}
<div>
<a href="https://www.youtube.com/watch?v=mmWr0rXeeh8&list=PL1bL77gOePuKImQQDM-Qpv9JWaqDORJvU&index=3">
    <button class="btn-custom-enjoy"> LISTEN ! to enJOY!</button>
</a>
</div>
<div class="container-fluid">
    <div class="Large-12 columns">
        <h2> Login </h2>
        <form class="col-7" action="/login" method="post" name="login" id="login">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
  {% if error %}
            <div class="alert alert-danger my-4" role="alert">
                {{ error }}
            </div>
     {% endif %}
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <p class="spaced-top-2"> No cont?! No problem!! <a href="/users/add" target="_blank"> Start Here </a></p>
</form>
    </div>
</div>

{% endblock %}