<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sport</title>

</head>
<body>
<button class="btn btn-outline-success me-2" type="button">Main button</button>
<div>
    <p> <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="...">
        <img src="{{ url_for('static', filename='images/ion.jpeg') }}" class="rounded float-end" alt="...">
    </p>

</div>
</body>
</html>

